
@-webkit-keyframes fadeIn{
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.fadeIn{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@keyframes trn {
    from{
        left: -100%;
    }to{
        left: .5rem;
    }

}



.loader-active {
  position: fixed;
  background: var(--secondary-bg-color);
  display: flex;
  flex-direction: row;
  width: 100%; height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.progress {
  width: 2em;
  height: 2em;
  margin: 0.8em;
  scale: 0;
  border-radius: 50%;
  background: blue;
  animation: loading_492 1s ease infinite;
}

@keyframes loading_492 {
  
  50% {
    scale: 1.3;
  }

}

.progress:nth-child(1) {
    animation-delay: .9s;
  }

.progress:nth-child(2) {
  animation-delay: .8s;
}

.progress:nth-child(3) {
  animation-delay: .7s;
}

.loader{
<<<<<<< HEAD
    display: none ;
=======
    display: none;
>>>>>>> 5ddd600937b6621dccc5197eda441e798a5a80dd
}



/*
@keyframes orbit{
    from{
        transform: rotate(0deg) scale(.5);  
    } to{
        transform: rotate(360deg) scale(1.3);
    }
    0%{
        transform: rotate(0deg);
        left: 10px;
    }
     25%{
        transform: rotate(360deg);
        left: 80px;
    }
    50%{
        transform: rotate(-720deg) ;
        left: 50px;
    }
    75%{
        transform: rotate(360deg) scale(.7);
        left:300px;
    }
    100%{
        transform: rotate(-360deg) scale(1.1);
        left: 15px;
    }
}
*/
