@font-face {
    font-family: "Vazir";
    src: url(../fonts/Vazir-Regular.ttf);
}
:root{
    --main-color:#4C84FF;
    --primary-bg-color:#fff;
    --secondary-bg-color:#eee;
    --primary-text-color:#222;
    --secondary-text-color:#666;
}
*{
    font-family: "Vazir";
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border:none;
    text-decoration: none;
    transition:all .3s cubic-bezier(.38,1.15,.7,1.12);
    direction: rtl;
    user-select: none;
}

*::selection{
    background-color: var(--main-color);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.3rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--secondary-bg-color);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

body{
    background:var(--secondary-bg-color);
}

body.dark-theme{
    --primary-bg-color:#252C48;
    --secondary-bg-color:#171C32;
    --primary-text-color:#fff;
    --secondary-text-color:#eee;
}

section{
    min-height: 100vh;
    padding:1rem;
    padding:0 8%;
}

p{
    text-align: justify;
}

header .tab{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 60px;
}

header .teb.img-tab img{
    width: 160px;
    height: 60px;
    position: absolute;
    top: 0px;
    right: 25%;
   }

   header .sidebar {
    width: 0;
    background:var(--secondary-bg-color);
    position: absolute;
    border:.3rem solid var(--main-color);
    top: 0;
    right: 0;
    height: 100%;
    transition: 0.3s;
    overflow-x: hidden;
    z-index: 1000;
    position: fixed;
    border-radius: 20px;
}

header .sidebar ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.6rem;
}

header .sidebar li {
    padding: 10px;
    border-bottom: 1px solid #555;
}

header .sidebar img {
    width: 150px;
    height: 80px;
}

.sidebar-btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    z-index: 2000;
    color: #fff;
  }

  .sidebar-btn img {
    width: 30px;
    height: 30px;
  }
  
  #theme-toggler{
    
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 20px;    color: rgb(60, 255, 0);
    cursor: pointer;
    border-radius: 50%;
}

#theme-toggler.fa-sun{
    transform:rotate(-360deg);
}


.dork-light{
    background-color: #fff;
    color: black;
    font-size: 20px;
   }
   
   .serch{
       font-size: 25px;
       display: inline-block;
       position: absolute;
       left: 55px;
       top: 11px;
       text-align: center;
   }

   .serch img {
    width: 35px;
    height: 35px;
    transition: .3s;
   }

   
   
   .on-out{
       height: auto;
       background-color: #fff;
       min-height: 100px;
       position: absolute;
       left: 95px;
       right: 10px;
       top: 50px;
       box-shadow: 0 0 5px#555;
       border-radius: 15px;
       font-size: 20px;
       text-align: center;
       z-index: 2;
       
       
   }
   
   .on-out a {
       font-size: 20px;
       color: #555;
       display: block;
       text-align: center;
       padding: 10px;
   }
   
   .active{
       background: var(--secondary-bg-color);
       color: var(--primary-text-color);
       border:.3rem solid var(--main-color);
       position: absolute;
       left: 95px;
       right: 10px;
       top: 10px;
       height: 45px;
       border-radius: 5px;
       padding: 15px;
       z-index: 10000;
   }
   
   .none {
       display: none;
    }
    
    .none-out{
        display: none
    }
 
    .menu {
        background-color: #0099ff;
        display: flex;
        flex-direction: column;
    
     }
     section.menu span {
        border-bottom: 1px solid red;
        padding: 10px;
        color: #fff;
        width: 100px;
     }
     
     main{
        display: grid;
        grid-template-columns: 2fr 7fr;
     }
    
.btn{
    display: inline-block;
    padding:.9rem 3.5rem;
    font-size: 2rem;
    background:none;
    color:#fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin-top: 1rem;
    z-index: 0;
    position: relative;
    overflow: hidden;
    border:.2rem solid var(--main-color);
}

.btn::before{
    content: '';
    position: absolute;
    top:50%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .5rem;
    background:var(--main-color);
    height:85%;
    width: 95%;
    z-index: -1;
    transition: .2s linear;
}

.btn:hover:before{
    top:100%;
    transform: translate(-50%, 100%);
}

.btn:hover{
    color:var(--primary-text-color);
}

.heading{
    font-size: 5rem;
    color:var(--primary-text-color);
    text-align: center;
    padding:1rem;
    text-transform: uppercase;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

#menu{
    font-size: 3rem;
    color: #00153a;
    border-radius: 5rem;
    height:5rem;
    width:5rem;
    text-align: center;
    line-height: 5rem;
    position: absolute;
    top: 1rem; left:1rem;
    z-index: 1000;
    cursor: pointer;
}

#menu.fa-times{
    transform:rotate(-180deg);
}

.navbar{
    position: fixed;
    top:1.2rem; left:1.5rem;
    padding:1.1rem 1rem;
    padding-left: 4rem;
    z-index: 999;
    border:.2rem solid var(--main-color);
    border-radius: 1rem;
    background:var(--primary-bg-color);
    opacity: 0;
    transform-origin: top right;
    transform: scale(0);
}

.navbar.nav-toggle{
    opacity: 1;
    transform: scale(1);
}

.navbar a{
    display: block;
    font-size: 2rem;
    padding:1rem;
    padding-right: 7rem;
    color:var(--primary-text-color);
}

.navbar a:hover{
    color:var(--main-color);
    transform: translateX(1rem);
}

/* سکشن خانه*/
.home{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home .image{
    flex:1 1 40rem;
    padding:1rem;
    text-align: center;
}

.home .image img{
    height:50rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border-top: 2rem solid var(--primary-bg-color);
    border-right: 2rem solid var(--primary-bg-color);
    border-bottom: 2rem solid var(--main-color);
    border-left: 2rem solid var(--main-color);
    border-radius: .5rem;
    background: var(--primary-bg-color);
}

.home .content{
    flex:1 1 40rem;
    padding:1rem;
    background-color: var(--primary-bg-color);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.616);
    border-radius: 1.4rem;
}

.home .content .hello{
    display: inline-block;
    padding:1rem 0;
    font-size: 2.6rem;
    color:var(--secondary-text-color);
}

.home .content h3{
    color:var(--primary-text-color);
    font-size: 5rem;
}

.home .content h3 span{
    color:var(--main-color);
}

.home .content p{
    padding:1rem 0;
    color:var(--secondary-text-color);
    font-size: 2rem;
}

/* کات شده*/


.blog .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.blog .box-container .box{
    width:33rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin:1.5rem;
    background: var(--primary-bg-color);
    overflow: hidden;
}

.blog .box-container .box img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.blog .box-container .box .content{
    padding:1.5rem;
}

.blog .box-container .box .content .info{
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    text-align: center;
    position: relative;
    font-size: 1.5rem;
    color:var(--primary-text-color);
    background:var(--secondary-bg-color);
    padding:1rem;
    margin-top: -4rem;
    margin-bottom: 1rem;
}

.blog .box-container .box .content .info i{
    color:var(--main-color);
    padding:0 1rem;
}

.blog .box-container .box .content .title{
    color:var(--primary-text-color);
    display: block;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.blog .box-container .box .content .title:hover{
    text-decoration: underline;
    color:var(--main-color);
}

.blog .box-container .box .content p{
    color:var(--secondary-text-color);
    padding:.5rem 0;
    font-size: 1.5rem;
}

.footer{
    padding:1.5rem;
    text-align: center;
    font-size: 2rem;
    color:var(--primary-text-color);
    background-color: blue;
    margin-top: 1rem;
    box-shadow: 0 0 2rem rgb(0, 0, 255);
}

.footer .grid-row img.bg-img {
    width: 100%;
    height: 40rem;
}

.footer .text{
    background-color: #00153a;
    padding: 10px;

}

.footer .grid-row{
    position: relative;
    background: -webkit-linear-gradient(left top, red , blue); 
background: -o-linear-gradient(bottom right, red, blue);
background: -moz-linear-gradient(bottom right, red, blue);
background: linear-gradient(to bottom right, red , blue);
}
.footer .grid-row .item1 {
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    left: 120px;
    background-color: #0059ff;
    border-radius: 8px;
    padding: 20px;

}

.footer .grid-row .item1 .title{
    font-size: 25px;
}

.footer .grid-row .item1  {
    text-align: right;
    padding-bottom: 10px;
    border-bottom: 2px solid red ;

}

.footer .grid-row .item1 a:hover{
    color: red;
}


.footer .grid-row .item2 {
    color: #fff;
    position: absolute;
    top: 50px;
    left: 5px;
}

.footer .grid-row .item2 img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.footer .grid-row .item3 {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: #0059ff;
    border-radius: 8px;
    padding: 10px;

}

.footer .grid-row .item3 img{
    padding-top: 10px;
}
.footer span{
    color:var(--main-color);
}


























/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding:1rem;
        padding: 0 3%;
    }
    .home .image img{
        height: auto;
        width: 100%;
    }
}

@media (max-width:900px){

    .home .image img{
        height: auto;
        width: 100%;
    }

    main{
        grid-template-columns: 4fr 7fr;
    }

}

@media (max-width:500px) {
    .menu{
        display: none;
    }
    main{
        display: block;
    }
 }


@media (max-width:400px){

    html{
        font-size: 50%;
    }

    .services .box-container .box{
        width: 100%;
    }

    .portfolio .image-container .box{
        width:100%;
    }

    .blog .box-container .box{
        width:100%;
    }

    .contact .row form .inputBox input{
        width:100%;
    }

}

 
