
    @font-face {
        font-family: farsi;
        src: url(../fonts/Vazir-Regular.ttf);
    }

    * {
        margin: 0px;
        padding: 0px;
        font-family: farsi;
        direction: rtl;
        
    }

    body{
        background-color: rgb(240, 251, 250);
    }

    #title{
        text-align: center;
        color: blue;
        font-size: 1.4rem;
        font-weight: bold;
    }

    button {
        border: none;
        background-color: blue;
        color: aliceblue;
        padding: 17px;
        border-radius: 5px;
        margin: 10px 5px;
        box-shadow: 0px 0px 6px rgb(13, 255, 0);
    }

    form {
    width: auto;
    height: auto;
    padding: 0px;
    border-radius: 7px;
    position:fixed;
    bottom: 10px;
    
    right: 10px;
    
    }

    input {
        
    font-size: 16px;
    font-weight: 400;
    color:#000000;
    padding: 15px;
    border: none;
    outline: none;
    width: auto;
    border-radius: 20px;
    width: auto;
    box-shadow: 0px 0px 6px black;
    }

    form input:focus{
        color: #ffffff;
        background-color: black;
    }

    b{
        font-weight: 300;
        background-color: bisque;
        text-align: left;
        display: block;
        padding: 7px;
        
        box-shadow: 0px 0px 2px rgb(251, 255, 0);
    }

    p {
        background-color: rgb(255, 255, 255);
        margin-bottom: 15px;
        padding: 10px;
        color: #3f3554;
        border: 1px solid;
        box-shadow: 0px 0px 3px rgb(66, 62, 0);
    }

    .out{
        
        margin: 15px;

    }

    .blonk{
        height: 100px;
    }

    img{
        width: 100%;
        border-radius: 14px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.868);
    
    }

    .control{
        max-width: 800px;
        margin: 0px auto;
    }

    @media (max-width:1500px){
        input{
           width: 750px;
        }
        .out{
           margin: 10 100px;
        }
        body{
            background-color: rgb(0, 0, 0);
        }
    
    
    }
    
    @media (max-width:900px){
        input{
           width: 450px;
        }
        .out{
           margin: 15px 40px;
        }
        body{
            background-color: aqua;
        }
       }
       @media (max-width:700px){
        input{
           width: 350px;
        }
        .out{
           margin: 10 40px;
        }
    
        body{
            background-color: rgb(251, 255, 0);
        }
    }
    
    
    @media (max-width:500px){
        input{
           width: 275px;
        }
        .out{
           margin: 10 70px;
        }

        body{
            background-color: rgb(255, 0, 0);
        }
   }

   @media (max-width:450px){
    input{
       width: 250px;
    }
    .out{
       margin: 10 20px;
    }

    body{
        background-color: rgb(17, 0, 255);
    }
}
        @media (max-width:400px){
            input{
               width: 200px;
            }
            .out{
               margin: 10 20px;
            }

            body{
                background-color: rgb(17, 0, 255);
            }
       }


   
   
@media (max-width:300px){
    input{
       width: 155px;
    }
    .out{
       margin: 10px;
    }
    form {
        right: 10px;
        bottom: 20px;
     }
     body{
        background-color: rgb(21, 255, 0);
    }
    }
       
    