.reg-attend .class-name{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .5rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 1.5rem 1.5rem 0 0;
  background-color: green;
  color: #fff;
}

.date {
  text-align: center;
  font-size: 1.5rem;
}

.date span {
  display: inline-block;
  padding: .5rem;
  background-color: black;
  color: #fff;
  border-radius: 1.5rem 1.5rem 0 0;
}

.attend-stu {
  display: flex;
  align-items: center;
  justify-content: center;
}  

 .attend-stu input {
  margin: .2rem;
  margin-right: 5rem;
}

.reg-attend .scors {
  background-color: #fff;
  box-shadow: 0 0 .5rem #555;
  border-radius: .5rem;
  text-align: center;
}

.reg-attend .submit {
  font-size: 1.3rem;
  width: 50%;
  padding: .5rem;
  margin: 1rem;
  border-radius: .5rem;
  background-color: blueviolet;
  color: antiquewhite;
}

.exit{
  background-color: red;
  color: #fff;
  padding: .5rem 1rem;
  border-radius: .5rem;
  font-size: 1.3rem;
} 


/* .error {
  position: fixed;
  background-color: red;
  color: #fff;
  width: 100%;
  padding: .5rem;
  top: 1rem;
  z-index: 1000;
  font-size: 1.5rem;
  text-align: center;
} */

.search {
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
}

.search input {
  margin: 1rem .3rem;
  padding: .3rem;
  border-radius: .3rem;
  text-align: center;
}

.search input:not(:nth-child(2)) {
  border: .1rem solid var(--main-color);
}

.search .submit {
  background: var(--main-color);
  color: #fff;
}

.date-scr {
  display: flex;
  justify-content: center;
}

.items {
  background: blueviolet;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 5rem;
  text-align: center;
  align-items: center;
  margin: 1rem .2rem;
  border-radius: .4rem;
  color: #fff;
}

a.items{
  padding: .5rem;
  font-size: 1.5rem;
}
.items input{
  background: #eeeeee00;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: .5rem;
  border-radius: .4rem;
}

.items:nth-child(2){
  background: blue;
}
.items:nth-child(3){
  background: red;
}
.items:nth-child(4){
  background: green;
}
.items:nth-child(5){
  background: orangered;
}

.s_date{
  background-color: black;
  color: #fff;
  border-radius: .4rem;
  padding: .5rem;
  margin: 1.5rem;
  display: block;
  font-size: 1.7rem;
}

.reged-attend .class-name{
  text-align: center;
}

.reged-attend .class-name span{ 
  background-color: purple;
  display: inline-block;
  padding: .5rem;
  color: #fff;
  border-radius: 1rem 1rem 0 0;
  font-size: 1.5rem;
}

.attend{
  padding: 0 .5rem;
  border-radius: .4rem;
}