.boxes {
  display: flex;
  flex-wrap: wrap;
  padding: .3rem;
}

.box {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 13rem;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: #fff;
  height: 10rem;
  width: 15rem;
  margin: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 .3rem #000000;
}

.lg-box .box{
  flex-basis: 20rem ;
  border-radius: .3rem;
  margin: .4rem;
}

.box:nth-child(2) {
  background-color: blueviolet;
}

.box:nth-child(3) {
  background-color: red;
}

.box:nth-child(4) {
  background-color: green;
}

.box:nth-child(6) {
  background-color: red;
}

.box:nth-child(8) {
  background-color: green;
}

.box:nth-child(9) {
  background-color: green;
}

.three-box .box:nth-child(2){
  background-color: blue;
 }

.three-box  .box:nth-child(3){
  background-color: blue;
}

.three-box .box:nth-child(4) {
  background-color: red;
}

.three-box .box:nth-child(5) {
  background-color: red;
}

.three-box .box:nth-child(6) {
  background-color: red;
}

.three-box .box:nth-child(7) {
  background-color: green;
}

.three-box .box:nth-child(8) {
  background-color: green;
}

.three-box .box:nth-child(9) {
  background-color: green;
}
.submit {
  background-color: #ffffff00;
  color: #fff;
  width: 100%;
  height: 100%;
}

.admin-panel .boxes .box .vlue{
  background-color: black;
  border-radius: .4rem;
  margin-bottom: .4rem;
  padding: 0 1rem;
}