


h1.title{
    text-align: center;
    background-color: var(--main-color);
    font-size: 2em;
    padding: .3em;
}

form{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 255, 242, 0.295);
    font-size: 1em;

}
label{
    font-size: 1.1em;
    margin-right: .7em;
    margin-top: 1em;
}

input{
margin: .5em;
padding: .7em;
border-radius: .5em;
font-size: .9em;
}

.submit{
    background-color: var(--main-color);
    font-size: 1em;
}

.reg-s .radio-btn{
    margin: .4em;
    margin-right: 1.2em;
    display: flex;
    align-items: center;
    font-size: 1em;
}

.reg-s .radio-btn input{
    margin-right: 1.7em;
}
.reg-s .radio-btn label{
    font-size: 1.3em;
    margin: 0;
}

